.table {
    margin-top: 20px;
    height: 82vh;
    overflow: scroll;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table tr td {
    padding: 0.4rem;
}

.table tr:nth-of-type(odd) {
    background-color: rgb(204, 239, 255);
}
